
.hero-full-screen {
    background: url("https://wallpaperplay.com/walls/full/2/5/0/200799.jpg") center center fixed;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: cover;
}



@media only screen and (min-width : 800px)
{.categories
{
    position: sticky;
    top: 0;
}
}